{% extends "base.html.twig" %}

{% block title %}New pin{% endblock %}

{% block body %}
    <h1>New pin</h1>
    {{form_start(form)}}
        {{form_widget(form)}}
        <input type="submit" value="Ajouter un pin" formnovalidate>
    {{form_end(form)}}
{% endblock %}