{% extends "base.html.twig" %}

{% block title %}edition du pin "{{pin.title}}"{% endblock %}

{% block body %}
    <h1>Edition du pin {{pin.id}}</h1>

        {{include('pins/_form.html.twig', {'submitButtonText': 'Edit pin'})}}
{% endblock %}